<a href="https://colab.research.google.com/github/LightxAman/PKMY_PRACTICE083/blob/main/String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STRINGS

In [ ]:
#1
# create string type variables

name = "Aman"
print(name)

message = "I love coding."
print(message)

Aman
I love coding.

In [ ]:
# TO see positioning of characters in string

greet = 'Hello'

# access character from 1st index to 3rd index
print(greet[1:4])

ell

In [ ]:
#Strings are imutable i.e,  Once a string is created it cannot be changed

message = 'HELLO AMAN'
message[0] = 'H'
print(message)

TypeError: ignored

In [ ]:
#Strings can be reassigned

message = 'HELLO AMAN'

# assign new string to message variable
message = 'Hello MANDEEP'

print(message)

Hello MANDEEP

In [ ]:
# Multiline string

message = """
Never gonna give you up
Never gonna let you down
"""

print(message)

Never gonna give you up
Never gonna let you down

In [ ]:
#comparing two Strings

str1 = "Hello, Aman!"
str2 = "I love Mandeep."
str3 = "Hello, Amritanshu!"

# compare str1 and str2
print(str1 == str2)

# compare str1 and str3
print(str1 == str3)

False
False

In [ ]:
#  concatenation of strings

greet = "Hello, "
name = "Manu"

# using + operator to concatenate

result = greet + name
print(result)

Hello, Manu

In [ ]:
#  Using For loop to iterate a string

Str = 'Hello Aman'

# iterating through 'str' string

for letter in Str:
    print(letter)

H
e
l
l
o

A
m
a
n

In [ ]:
# python string length

Str = 'Hello'

# count length of Str string

print(len(Str))

5

In [ ]:
# finding a character in a string

print('a' in 'program')
print('at' not in 'battle')

True
False

In [ ]:
# Python String Formatting (f-Strings)

name = 'Manu'
country = 'Khalistan'

print(f'{name} is from {country}')

Manu is from Khalistan

LIST

In [4]:
#LIST

# List with strings, integers and boolean values

list1 = ["abc", 12, True, 34, "male"]

In [5]:
# List with duplicates

List3 = ["AMAN", "MANU", "AMRITANSHU","AMAN", "MANU", "AMRITANSHU"]
print(len(List3))

6

In [6]:
List2 = ["AMAN", "MANU", "AMRITANSHU","AMAN", "MANU", "AMRITANSHU"]
print(List2)

['AMAN', 'MANU', 'AMRITANSHU', 'AMAN', 'MANU', 'AMRITANSHU']

In [7]:
list1 = ["AMAN", "MANU", "AMRITANSHU"]
print(list1)

['AMAN', 'MANU', 'AMRITANSHU']

SETS

In [8]:
Sset = {"APPY", "COKE", "PEPSI"}
print(Sset)

{'APPY', 'PEPSI', 'COKE'}

In [9]:
Sset = {"APPY", "COKE", "PEPSI", True, 1, 2}

print(Sset)

{'APPY', True, 2, 'COKE', 'PEPSI'}